<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.buyer.mapper.BuyerMapper">

    <resultMap type="Buyer" id="BuyerResult">
        <id     property="buyerId"             column="buyer_id"              />
        <result property="buyerNo"             column="buyer_no"              />
        <result property="buyerCode"           column="buyer_code"            />
        <result property="buyerName"           column="buyer_name"            />
        <result property="buyerShortName"      column="buyer_short_name"      />
        <result property="buyerType"           column="buyer_type"            />
        <result property="buyerLevel"          column="buyer_level"           />
        <result property="status"              column="status"                />
        <result property="username"            column="username"              />
        <result property="legalId"             column="legal_id"              />
        <result property="businessLicenseNo"   column="business_license_no"   />
        <result property="countryCode"         column="country_code"          />
        <result property="stateProvince"       column="state_province"        />
        <result property="city"                column="city"                  />
        <result property="postalCode"          column="postal_code"           />
        <result property="addressLine1"        column="address_line1"         />
        <result property="addressLine2"        column="address_line2"         />
        <result property="contactName"         column="contact_name"          />
        <result property="contactPhone"        column="contact_phone"         />
        <result property="contactEmail"        column="contact_email"         />
        <result property="attachmentFileName"  column="attachment_file_name"  />
        <result property="attachmentMimeType"  column="attachment_mime_type"  />
        <result property="attachmentSizeBytes" column="attachment_size_bytes" />
        <result property="attachmentFileUrl"   column="attachment_file_url"   />
        <result property="accountCount"        column="account_count"         />
        <result property="lastLoginTime"       column="last_login_time"       />
        <result property="accountBalance"      column="account_balance"       />
        <result property="balanceCurrency"     column="balance_currency"      />
        <result property="createBy"            column="create_by"             />
        <result property="createTime"          column="create_time"           />
        <result property="updateBy"            column="update_by"             />
        <result property="updateTime"          column="update_time"           />
        <result property="remark"              column="remark"                />
    </resultMap>

    <resultMap type="BuyerAccount" id="BuyerAccountResult">
        <id     property="buyerAccountId" column="buyer_account_id"  />
        <result property="buyerId"        column="buyer_id"          />
        <result property="userId"         column="user_id"           />
        <result property="accountRole"    column="account_role"      />
        <result property="status"         column="status"            />
        <result property="userName"       column="user_name"         />
        <result property="nickName"       column="nick_name"         />
        <result property="email"          column="email"             />
        <result property="phonenumber"    column="phonenumber"       />
        <result property="userStatus"     column="user_status"       />
        <result property="createBy"       column="create_by"         />
        <result property="createTime"     column="create_time"       />
        <result property="updateBy"       column="update_by"         />
        <result property="updateTime"     column="update_time"       />
        <result property="remark"         column="remark"            />
    </resultMap>

    <sql id="selectBuyerColumns">
        select b.buyer_id, b.buyer_no, b.buyer_code, b.buyer_name,
               b.buyer_short_name, b.buyer_type, b.buyer_level, b.status,
               owner.user_name as username,
               b.legal_id, b.business_license_no, b.country_code, b.state_province, b.city,
               b.postal_code, b.address_line1, b.address_line2, b.contact_name, b.contact_phone,
               b.contact_email, b.attachment_file_name, b.attachment_mime_type,
               b.attachment_size_bytes, b.attachment_file_url, b.create_by, b.create_time,
               b.update_by, b.update_time, b.remark,
               coalesce(account_stat.account_count, 0) as account_count,
               owner.login_date as last_login_time,
               cast(0.00 as decimal(18,2)) as account_balance,
               'USD' as balance_currency
    </sql>

    <sql id="buyerJoins">
        left join buyer_account owner_link
               on owner_link.buyer_id = b.buyer_id
              and owner_link.account_role = 'OWNER'
              and owner_link.buyer_account_id = (
                    select min(owner_pick.buyer_account_id)
                    from buyer_account owner_pick
                    where owner_pick.buyer_id = b.buyer_id
                      and owner_pick.account_role = 'OWNER'
              )
        left join sys_user owner on owner.user_id = owner_link.user_id
        left join (
            select buyer_id, count(*) as account_count
            from buyer_account
            group by buyer_id
        ) account_stat on account_stat.buyer_id = b.buyer_id
    </sql>

    <select id="selectBuyerList" parameterType="Buyer" resultMap="BuyerResult">
        <include refid="selectBuyerColumns"/>
        from buyer b
        <include refid="buyerJoins"/>
        where 1 = 1
        <if test="buyerNo != null and buyerNo != ''">
            and b.buyer_no like concat('%', #{buyerNo}, '%')
        </if>
        <if test="buyerCode != null and buyerCode != ''">
            and b.buyer_code like concat('%', #{buyerCode}, '%')
        </if>
        <if test="buyerName != null and buyerName != ''">
            and b.buyer_name like concat('%', #{buyerName}, '%')
        </if>
        <if test="companyName != null and companyName != ''">
            and b.buyer_name like concat('%', #{companyName}, '%')
        </if>
        <if test="buyerShortName != null and buyerShortName != ''">
            and b.buyer_short_name like concat('%', #{buyerShortName}, '%')
        </if>
        <if test="username != null and username != ''">
            and owner.user_name like concat('%', #{username}, '%')
        </if>
        <if test="buyerLevel != null and buyerLevel != ''">
            and b.buyer_level = #{buyerLevel}
        </if>
        <if test="status != null and status != ''">
            and b.status = #{status}
        </if>
        <if test="contactPhone != null and contactPhone != ''">
            and b.contact_phone like concat('%', #{contactPhone}, '%')
        </if>
        <if test="countryCode != null and countryCode != ''">
            and b.country_code = #{countryCode}
        </if>
        <if test="stateProvince != null and stateProvince != ''">
            and b.state_province like concat('%', #{stateProvince}, '%')
        </if>
        <if test="city != null and city != ''">
            and b.city like concat('%', #{city}, '%')
        </if>
        <if test="params.createBeginTime != null and params.createBeginTime != ''">
            and date_format(b.create_time,'%Y%m%d') &gt;= date_format(#{params.createBeginTime},'%Y%m%d')
        </if>
        <if test="params.createEndTime != null and params.createEndTime != ''">
            and date_format(b.create_time,'%Y%m%d') &lt;= date_format(#{params.createEndTime},'%Y%m%d')
        </if>
        <if test="params.lastLoginBeginTime != null and params.lastLoginBeginTime != ''">
            and date_format(owner.login_date,'%Y%m%d') &gt;= date_format(#{params.lastLoginBeginTime},'%Y%m%d')
        </if>
        <if test="params.lastLoginEndTime != null and params.lastLoginEndTime != ''">
            and date_format(owner.login_date,'%Y%m%d') &lt;= date_format(#{params.lastLoginEndTime},'%Y%m%d')
        </if>
        <if test="params.balanceMin != null and params.balanceMin != ''">
            and cast(0.00 as decimal(18,2)) &gt;= cast(#{params.balanceMin} as decimal(18,2))
        </if>
        <if test="params.balanceMax != null and params.balanceMax != ''">
            and cast(0.00 as decimal(18,2)) &lt;= cast(#{params.balanceMax} as decimal(18,2))
        </if>
        order by b.create_time desc, b.buyer_id desc
    </select>

    <select id="selectBuyerById" parameterType="Long" resultMap="BuyerResult">
        <include refid="selectBuyerColumns"/>
        from buyer b
        <include refid="buyerJoins"/>
        where b.buyer_id = #{buyerId}
    </select>

    <select id="selectMaxBuyerNoByPrefix" parameterType="String" resultType="String">
        select max(buyer_no)
        from buyer
        where buyer_no like concat(#{buyerNoPrefix}, '%')
          and length(buyer_no) = 9
    </select>

    <select id="selectBuyerByCode" parameterType="String" resultMap="BuyerResult">
        <include refid="selectBuyerColumns"/>
        from buyer b
        <include refid="buyerJoins"/>
        where b.buyer_code = #{buyerCode}
        limit 1
    </select>

    <insert id="insertBuyer" parameterType="Buyer" useGeneratedKeys="true" keyProperty="buyerId">
        insert into buyer(
            buyer_no, buyer_code, buyer_name, buyer_short_name,
            buyer_type, buyer_level, status, legal_id, business_license_no, country_code,
            state_province, city, postal_code, address_line1, address_line2, contact_name,
            contact_phone, contact_email, attachment_file_name, attachment_mime_type,
            attachment_size_bytes, attachment_file_url, create_by, create_time, remark
        ) values (
            #{buyerNo}, #{buyerCode}, #{buyerName}, #{buyerShortName},
            #{buyerType}, #{buyerLevel}, #{status}, #{legalId}, #{businessLicenseNo}, #{countryCode},
            #{stateProvince}, #{city}, #{postalCode}, #{addressLine1}, #{addressLine2}, #{contactName},
            #{contactPhone}, #{contactEmail}, #{attachmentFileName}, #{attachmentMimeType},
            #{attachmentSizeBytes}, #{attachmentFileUrl}, #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateBuyer" parameterType="Buyer">
        update buyer
        set buyer_code = #{buyerCode},
            buyer_name = #{buyerName},
            buyer_short_name = #{buyerShortName},
            buyer_type = #{buyerType},
            buyer_level = #{buyerLevel},
            status = #{status},
            legal_id = #{legalId},
            business_license_no = #{businessLicenseNo},
            country_code = #{countryCode},
            state_province = #{stateProvince},
            city = #{city},
            postal_code = #{postalCode},
            address_line1 = #{addressLine1},
            address_line2 = #{addressLine2},
            contact_name = #{contactName},
            contact_phone = #{contactPhone},
            contact_email = #{contactEmail},
            attachment_file_name = #{attachmentFileName},
            attachment_mime_type = #{attachmentMimeType},
            attachment_size_bytes = #{attachmentSizeBytes},
            attachment_file_url = #{attachmentFileUrl},
            update_by = #{updateBy},
            update_time = sysdate(),
            remark = #{remark}
        where buyer_id = #{buyerId}
    </update>

    <update id="updateBuyerStatus">
        update buyer
        set status = #{status},
            update_by = #{updateBy},
            update_time = sysdate()
        where buyer_id = #{buyerId}
    </update>

    <select id="selectBuyerAccountList" resultMap="BuyerAccountResult">
        select a.buyer_account_id, a.buyer_id, a.user_id, a.account_role, a.status,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
               u.user_name, u.nick_name, u.email, u.phonenumber, u.status as user_status
        from buyer_account a
        left join sys_user u on u.user_id = a.user_id
        where a.buyer_id = #{buyerId}
        order by a.create_time desc, a.buyer_account_id desc
    </select>

    <select id="selectBuyerAccountByUserId" parameterType="Long" resultMap="BuyerAccountResult">
        select a.buyer_account_id, a.buyer_id, a.user_id, a.account_role, a.status,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
               u.user_name, u.nick_name, u.email, u.phonenumber, u.status as user_status
        from buyer_account a
        left join sys_user u on u.user_id = a.user_id
        where a.user_id = #{userId}
        limit 1
    </select>

    <select id="selectOwnerBuyerAccountByBuyerId" parameterType="Long" resultMap="BuyerAccountResult">
        select a.buyer_account_id, a.buyer_id, a.user_id, a.account_role, a.status,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
               u.user_name, u.nick_name, u.email, u.phonenumber, u.status as user_status
        from buyer_account a
        left join sys_user u on u.user_id = a.user_id
        where a.buyer_id = #{buyerId}
          and a.account_role = 'OWNER'
        order by a.buyer_account_id asc
        limit 1
    </select>

    <insert id="insertBuyerAccount" parameterType="BuyerAccount" useGeneratedKeys="true" keyProperty="buyerAccountId">
        insert into buyer_account(
            buyer_id, user_id, account_role, status, create_by, create_time, remark
        ) values (
            #{buyerId}, #{userId}, #{accountRole}, #{status}, #{createBy}, sysdate(), #{remark}
        )
    </insert>
</mapper>
