<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.buyer.mapper.BuyerMapper">

    <resultMap type="Buyer" id="BuyerResult">
        <id     property="buyerId"             column="buyer_id"              />
        <result property="buyerNo"             column="buyer_no"              />
        <result property="buyerCode"           column="buyer_code"            />
        <result property="buyerName"           column="buyer_name"            />
        <result property="buyerShortName"      column="buyer_short_name"      />
        <result property="buyerType"           column="buyer_type"            />
        <result property="buyerLevel"          column="buyer_level"           />
        <result property="status"              column="status"                />
        <result property="username"            column="username"              />
        <result property="legalId"             column="legal_id"              />
        <result property="businessLicenseNo"   column="business_license_no"   />
        <result property="countryCode"         column="country_code"          />
        <result property="stateProvince"       column="state_province"        />
        <result property="city"                column="city"                  />
        <result property="postalCode"          column="postal_code"           />
        <result property="addressLine1"        column="address_line1"         />
        <result property="addressLine2"        column="address_line2"         />
        <result property="contactName"         column="contact_name"          />
        <result property="contactPhone"        column="contact_phone"         />
        <result property="contactEmail"        column="contact_email"         />
        <result property="attachmentFileName"  column="attachment_file_name"  />
        <result property="attachmentMimeType"  column="attachment_mime_type"  />
        <result property="attachmentSizeBytes" column="attachment_size_bytes" />
        <result property="attachmentFileUrl"   column="attachment_file_url"   />
        <result property="accountCount"        column="account_count"         />
        <result property="lastLoginTime"       column="last_login_time"       />
        <result property="accountBalance"      column="account_balance"       />
        <result property="balanceCurrency"     column="balance_currency"      />
        <result property="createBy"            column="create_by"             />
        <result property="createTime"          column="create_time"           />
        <result property="updateBy"            column="update_by"             />
        <result property="updateTime"          column="update_time"           />
        <result property="remark"              column="remark"                />
    </resultMap>

    <resultMap type="BuyerAccount" id="BuyerAccountResult">
        <id     property="buyerAccountId" column="buyer_account_id"  />
        <result property="accountId"      column="buyer_account_id"  />
        <result property="buyerId"        column="buyer_id"          />
        <result property="deptId"         column="dept_id"           />
        <result property="deptName"       column="dept_name"         />
        <result property="accountRole"    column="account_role"      />
        <result property="status"         column="status"            />
        <result property="userName"       column="user_name"         />
        <result property="nickName"       column="nick_name"         />
        <result property="password"       column="password"          />
        <result property="email"          column="email"             />
        <result property="phonenumber"    column="phonenumber"       />
        <result property="userStatus"     column="user_status"       />
        <result property="lastLoginIp"    column="last_login_ip"     />
        <result property="lastLoginTime"  column="last_login_time"   />
        <result property="pwdUpdateTime"  column="pwd_update_time"   />
        <result property="createBy"       column="create_by"         />
        <result property="createTime"     column="create_time"       />
        <result property="updateBy"       column="update_by"         />
        <result property="updateTime"     column="update_time"       />
        <result property="remark"         column="remark"            />
    </resultMap>

    <resultMap type="PortalLoginLog" id="BuyerLoginLogResult">
        <id     property="infoId"        column="info_id"          />
        <result property="subjectId"     column="buyer_id"         />
        <result property="accountId"     column="buyer_account_id" />
        <result property="userName"      column="user_name"        />
        <result property="ipaddr"        column="ipaddr"           />
        <result property="loginLocation" column="login_location"   />
        <result property="browser"       column="browser"          />
        <result property="os"            column="os"               />
        <result property="status"        column="status"           />
        <result property="msg"           column="msg"              />
        <result property="loginTime"     column="login_time"       />
    </resultMap>

    <resultMap type="PortalOperLog" id="BuyerOperLogResult">
        <id     property="operId"        column="oper_id"          />
        <result property="subjectId"     column="buyer_id"         />
        <result property="accountId"     column="buyer_account_id" />
        <result property="title"         column="title"            />
        <result property="businessType"  column="business_type"    />
        <result property="method"        column="method"           />
        <result property="requestMethod" column="request_method"   />
        <result property="operName"      column="oper_name"        />
        <result property="operUrl"       column="oper_url"         />
        <result property="operIp"        column="oper_ip"          />
        <result property="operLocation"  column="oper_location"    />
        <result property="operParam"     column="oper_param"       />
        <result property="jsonResult"    column="json_result"      />
        <result property="status"        column="status"           />
        <result property="errorMsg"      column="error_msg"        />
        <result property="operTime"      column="oper_time"        />
        <result property="costTime"      column="cost_time"        />
    </resultMap>

    <sql id="selectBuyerColumns">
        select b.buyer_id, b.buyer_no, b.buyer_code, b.buyer_name,
               b.buyer_short_name, b.buyer_type, b.buyer_level, b.status,
               owner_link.user_name as username,
               b.legal_id, b.business_license_no, b.country_code, b.state_province, b.city,
               b.postal_code, b.address_line1, b.address_line2, b.contact_name, b.contact_phone,
               b.contact_email, b.attachment_file_name, b.attachment_mime_type,
               b.attachment_size_bytes, b.attachment_file_url, b.create_by, b.create_time,
               b.update_by, b.update_time, b.remark,
               coalesce(account_stat.account_count, 0) as account_count,
               owner_link.last_login_time as last_login_time,
               cast(0.00 as decimal(18,2)) as account_balance,
               'USD' as balance_currency
    </sql>

    <sql id="buyerJoins">
        left join buyer_account owner_link
               on owner_link.buyer_id = b.buyer_id
              and owner_link.account_role = 'OWNER'
              and owner_link.buyer_account_id = (
                    select min(owner_pick.buyer_account_id)
                    from buyer_account owner_pick
                    where owner_pick.buyer_id = b.buyer_id
                      and owner_pick.account_role = 'OWNER'
              )
        left join (
            select buyer_id, count(*) as account_count
            from buyer_account
            group by buyer_id
        ) account_stat on account_stat.buyer_id = b.buyer_id
    </sql>

    <select id="selectBuyerList" parameterType="Buyer" resultMap="BuyerResult">
        <include refid="selectBuyerColumns"/>
        from buyer b
        <include refid="buyerJoins"/>
        where 1 = 1
        <if test="buyerNo != null and buyerNo != ''">
            and b.buyer_no like concat('%', #{buyerNo}, '%')
        </if>
        <if test="buyerCode != null and buyerCode != ''">
            and b.buyer_code like concat('%', #{buyerCode}, '%')
        </if>
        <if test="buyerName != null and buyerName != ''">
            and b.buyer_name like concat('%', #{buyerName}, '%')
        </if>
        <if test="companyName != null and companyName != ''">
            and b.buyer_name like concat('%', #{companyName}, '%')
        </if>
        <if test="buyerShortName != null and buyerShortName != ''">
            and b.buyer_short_name like concat('%', #{buyerShortName}, '%')
        </if>
        <if test="username != null and username != ''">
            and owner_link.user_name like concat('%', #{username}, '%')
        </if>
        <if test="buyerLevel != null and buyerLevel != ''">
            and b.buyer_level = #{buyerLevel}
        </if>
        <if test="status != null and status != ''">
            and b.status = #{status}
        </if>
        <if test="contactPhone != null and contactPhone != ''">
            and b.contact_phone like concat('%', #{contactPhone}, '%')
        </if>
        <if test="countryCode != null and countryCode != ''">
            and b.country_code = #{countryCode}
        </if>
        <if test="stateProvince != null and stateProvince != ''">
            and b.state_province like concat('%', #{stateProvince}, '%')
        </if>
        <if test="city != null and city != ''">
            and b.city like concat('%', #{city}, '%')
        </if>
        <if test="params.createBeginTime != null and params.createBeginTime != ''">
            and date_format(b.create_time,'%Y%m%d') &gt;= date_format(#{params.createBeginTime},'%Y%m%d')
        </if>
        <if test="params.createEndTime != null and params.createEndTime != ''">
            and date_format(b.create_time,'%Y%m%d') &lt;= date_format(#{params.createEndTime},'%Y%m%d')
        </if>
        <if test="params.lastLoginBeginTime != null and params.lastLoginBeginTime != ''">
            and date_format(owner_link.last_login_time,'%Y%m%d') &gt;= date_format(#{params.lastLoginBeginTime},'%Y%m%d')
        </if>
        <if test="params.lastLoginEndTime != null and params.lastLoginEndTime != ''">
            and date_format(owner_link.last_login_time,'%Y%m%d') &lt;= date_format(#{params.lastLoginEndTime},'%Y%m%d')
        </if>
        <if test="params.balanceMin != null and params.balanceMin != ''">
            and cast(0.00 as decimal(18,2)) &gt;= cast(#{params.balanceMin} as decimal(18,2))
        </if>
        <if test="params.balanceMax != null and params.balanceMax != ''">
            and cast(0.00 as decimal(18,2)) &lt;= cast(#{params.balanceMax} as decimal(18,2))
        </if>
        order by b.create_time desc, b.buyer_id desc
    </select>

    <select id="selectBuyerById" parameterType="Long" resultMap="BuyerResult">
        <include refid="selectBuyerColumns"/>
        from buyer b
        <include refid="buyerJoins"/>
        where b.buyer_id = #{buyerId}
    </select>

    <select id="selectMaxBuyerNoByPrefix" parameterType="String" resultType="String">
        select max(buyer_no)
        from buyer
        where buyer_no like concat(#{buyerNoPrefix}, '%')
          and length(buyer_no) = 9
    </select>

    <select id="selectBuyerByCode" parameterType="String" resultMap="BuyerResult">
        <include refid="selectBuyerColumns"/>
        from buyer b
        <include refid="buyerJoins"/>
        where b.buyer_code = #{buyerCode}
        limit 1
    </select>

    <insert id="insertBuyer" parameterType="Buyer" useGeneratedKeys="true" keyProperty="buyerId">
        insert into buyer(
            buyer_no, buyer_code, buyer_name, buyer_short_name,
            buyer_type, buyer_level, status, legal_id, business_license_no, country_code,
            state_province, city, postal_code, address_line1, address_line2, contact_name,
            contact_phone, contact_email, attachment_file_name, attachment_mime_type,
            attachment_size_bytes, attachment_file_url, create_by, create_time, remark
        ) values (
            #{buyerNo}, #{buyerCode}, #{buyerName}, #{buyerShortName},
            #{buyerType}, #{buyerLevel}, #{status}, #{legalId}, #{businessLicenseNo}, #{countryCode},
            #{stateProvince}, #{city}, #{postalCode}, #{addressLine1}, #{addressLine2}, #{contactName},
            #{contactPhone}, #{contactEmail}, #{attachmentFileName}, #{attachmentMimeType},
            #{attachmentSizeBytes}, #{attachmentFileUrl}, #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateBuyer" parameterType="Buyer">
        update buyer
        set buyer_code = #{buyerCode},
            buyer_name = #{buyerName},
            buyer_short_name = #{buyerShortName},
            buyer_type = #{buyerType},
            buyer_level = #{buyerLevel},
            status = #{status},
            legal_id = #{legalId},
            business_license_no = #{businessLicenseNo},
            country_code = #{countryCode},
            state_province = #{stateProvince},
            city = #{city},
            postal_code = #{postalCode},
            address_line1 = #{addressLine1},
            address_line2 = #{addressLine2},
            contact_name = #{contactName},
            contact_phone = #{contactPhone},
            contact_email = #{contactEmail},
            attachment_file_name = #{attachmentFileName},
            attachment_mime_type = #{attachmentMimeType},
            attachment_size_bytes = #{attachmentSizeBytes},
            attachment_file_url = #{attachmentFileUrl},
            update_by = #{updateBy},
            update_time = sysdate(),
            remark = #{remark}
        where buyer_id = #{buyerId}
    </update>

    <update id="updateBuyerStatus">
        update buyer
        set status = #{status},
            update_by = #{updateBy},
            update_time = sysdate()
        where buyer_id = #{buyerId}
    </update>

    <select id="selectBuyerAccountList" resultMap="BuyerAccountResult">
        select a.buyer_account_id, a.buyer_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from buyer_account a
        left join buyer_dept d on d.buyer_dept_id = a.dept_id and d.buyer_id = a.buyer_id and d.del_flag = '0'
        where a.buyer_id = #{buyerId}
        order by a.create_time desc, a.buyer_account_id desc
    </select>

    <select id="selectBuyerAccountById" parameterType="Long" resultMap="BuyerAccountResult">
        select a.buyer_account_id, a.buyer_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.password, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from buyer_account a
        left join buyer_dept d on d.buyer_dept_id = a.dept_id and d.buyer_id = a.buyer_id and d.del_flag = '0'
        where a.buyer_account_id = #{buyerAccountId}
        limit 1
    </select>

    <select id="selectBuyerAccountByUserName" parameterType="String" resultMap="BuyerAccountResult">
        select a.buyer_account_id, a.buyer_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.password, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from buyer_account a
        left join buyer_dept d on d.buyer_dept_id = a.dept_id and d.buyer_id = a.buyer_id and d.del_flag = '0'
        where a.user_name = #{userName}
        limit 1
    </select>

    <select id="selectOwnerBuyerAccountByBuyerId" parameterType="Long" resultMap="BuyerAccountResult">
        select a.buyer_account_id, a.buyer_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from buyer_account a
        left join buyer_dept d on d.buyer_dept_id = a.dept_id and d.buyer_id = a.buyer_id and d.del_flag = '0'
        where a.buyer_id = #{buyerId}
          and a.account_role = 'OWNER'
        order by a.buyer_account_id asc
        limit 1
    </select>

    <insert id="insertBuyerAccount" parameterType="BuyerAccount" useGeneratedKeys="true" keyProperty="buyerAccountId">
        insert into buyer_account(
            buyer_id, dept_id, user_name, nick_name, password, email, phonenumber,
            account_role, status, pwd_update_time, create_by, create_time, remark
        ) values (
            #{buyerId}, #{deptId}, #{userName}, #{nickName}, #{password}, #{email}, #{phonenumber},
            #{accountRole}, #{status}, sysdate(), #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateBuyerAccount" parameterType="BuyerAccount">
        update buyer_account
        set nick_name = #{nickName},
            dept_id = #{deptId},
            email = #{email},
            phonenumber = #{phonenumber},
            status = #{status},
            update_by = #{updateBy},
            update_time = sysdate(),
            remark = #{remark}
        where buyer_account_id = #{buyerAccountId}
    </update>

    <update id="resetBuyerAccountPassword">
        update buyer_account
        set password = #{password},
            pwd_update_time = sysdate(),
            update_by = #{updateBy},
            update_time = sysdate()
        where buyer_account_id = #{buyerAccountId}
    </update>

    <update id="updateBuyerAccountLoginInfo">
        update buyer_account
        set last_login_ip = #{lastLoginIp},
            last_login_time = #{lastLoginTime},
            update_time = sysdate()
        where buyer_account_id = #{buyerAccountId}
    </update>

    <insert id="insertBuyerLoginLog" parameterType="PortalLoginLog">
        insert into buyer_login_log(
            buyer_id, buyer_account_id, user_name, ipaddr, login_location,
            browser, os, status, msg, login_time
        ) values (
            #{subjectId}, #{accountId}, #{userName}, #{ipaddr}, #{loginLocation},
            #{browser}, #{os}, #{status}, #{msg}, #{loginTime}
        )
    </insert>

    <select id="selectBuyerLoginLogList" parameterType="PortalLoginLog" resultMap="BuyerLoginLogResult">
        select l.info_id, l.buyer_id, l.buyer_account_id, l.user_name, l.ipaddr,
               l.login_location, l.browser, l.os, l.status, l.msg, l.login_time
        from buyer_login_log l
        where 1 = 1
        <if test="subjectId != null">
            and l.buyer_id = #{subjectId}
        </if>
        <if test="accountId != null">
            and l.buyer_account_id = #{accountId}
        </if>
        <if test="userName != null and userName != ''">
            and l.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="ipaddr != null and ipaddr != ''">
            and l.ipaddr like concat('%', #{ipaddr}, '%')
        </if>
        <if test="status != null and status != ''">
            and l.status = #{status}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and date_format(l.login_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''">
            and date_format(l.login_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
        </if>
        order by l.login_time desc, l.info_id desc
    </select>

    <select id="selectBuyerOperLogList" parameterType="PortalOperLog" resultMap="BuyerOperLogResult">
        select l.oper_id, l.buyer_id, l.buyer_account_id, l.title, l.business_type,
               l.method, l.request_method, l.oper_name, l.oper_url, l.oper_ip,
               l.oper_location, l.oper_param, l.json_result, l.status, l.error_msg,
               l.oper_time, l.cost_time
        from buyer_oper_log l
        where 1 = 1
        <if test="subjectId != null">
            and l.buyer_id = #{subjectId}
        </if>
        <if test="accountId != null">
            and l.buyer_account_id = #{accountId}
        </if>
        <if test="title != null and title != ''">
            and l.title like concat('%', #{title}, '%')
        </if>
        <if test="operName != null and operName != ''">
            and l.oper_name like concat('%', #{operName}, '%')
        </if>
        <if test="status != null">
            and l.status = #{status}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and date_format(l.oper_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''">
            and date_format(l.oper_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
        </if>
        order by l.oper_time desc, l.oper_id desc
    </select>

    <insert id="insertBuyerSession" parameterType="PortalLoginSession">
        insert into buyer_session(
            token_id, buyer_id, buyer_account_id, user_name,
            login_ip, login_time, expire_time, status
        ) values (
            #{tokenId}, #{subjectId}, #{accountId}, #{userName},
            #{loginIp}, #{loginTime}, #{expireTime}, #{status}
        )
    </insert>

    <select id="selectBuyerSessionProfileList" resultType="PortalSessionProfile">
        select token_id as tokenId,
               'buyer' as terminal,
               buyer_id as subjectId,
               buyer_account_id as accountId,
               user_name as userName,
               login_ip as loginIp,
               login_time as loginTime,
               expire_time as expireTime,
               logout_time as logoutTime,
               status
        from buyer_session
        where buyer_id = #{buyerId}
          and buyer_account_id = #{buyerAccountId}
        order by login_time desc, token_id desc
    </select>

    <select id="selectOnlineBuyerSessionTokenIds" resultType="String">
        select token_id
        from buyer_session
        where buyer_id = #{buyerId}
          and status = '0'
          and logout_time is null
          and expire_time >= sysdate()
        <if test="buyerAccountId != null">
          and buyer_account_id = #{buyerAccountId}
        </if>
    </select>

    <update id="forceLogoutBuyerSessions">
        update buyer_session
        set status = '1',
            logout_time = sysdate()
        where buyer_id = #{buyerId}
          and status = '0'
          and logout_time is null
          and expire_time >= sysdate()
        <if test="buyerAccountId != null">
          and buyer_account_id = #{buyerAccountId}
        </if>
    </update>

    <update id="logoutBuyerSession">
        update buyer_session
        set status = '1',
            logout_time = sysdate()
        where buyer_id = #{buyerId}
          and buyer_account_id = #{buyerAccountId}
          and token_id = #{tokenId}
          and status = '0'
          and logout_time is null
    </update>
</mapper>
