<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.seller.mapper.SellerMapper">

    <resultMap type="Seller" id="SellerResult">
        <id     property="sellerId"            column="seller_id"             />
        <result property="sellerNo"            column="seller_no"             />
        <result property="sellerCode"          column="seller_code"           />
        <result property="sellerName"          column="seller_name"           />
        <result property="sellerShortName"     column="seller_short_name"     />
        <result property="sellerType"          column="seller_type"           />
        <result property="sellerLevel"         column="seller_level"          />
        <result property="status"              column="status"                />
        <result property="username"            column="username"              />
        <result property="legalId"             column="legal_id"              />
        <result property="businessLicenseNo"   column="business_license_no"   />
        <result property="countryCode"         column="country_code"          />
        <result property="stateProvince"       column="state_province"        />
        <result property="city"                column="city"                  />
        <result property="postalCode"          column="postal_code"           />
        <result property="addressLine1"        column="address_line1"         />
        <result property="addressLine2"        column="address_line2"         />
        <result property="contactName"         column="contact_name"          />
        <result property="contactPhone"        column="contact_phone"         />
        <result property="contactEmail"        column="contact_email"         />
        <result property="attachmentFileName"  column="attachment_file_name"  />
        <result property="attachmentMimeType"  column="attachment_mime_type"  />
        <result property="attachmentSizeBytes" column="attachment_size_bytes" />
        <result property="attachmentFileUrl"   column="attachment_file_url"   />
        <result property="accountCount"        column="account_count"         />
        <result property="lastLoginTime"       column="last_login_time"       />
        <result property="accountBalance"      column="account_balance"       />
        <result property="balanceCurrency"     column="balance_currency"      />
        <result property="createBy"            column="create_by"             />
        <result property="createTime"          column="create_time"           />
        <result property="updateBy"            column="update_by"             />
        <result property="updateTime"          column="update_time"           />
        <result property="remark"              column="remark"                />
    </resultMap>

    <resultMap type="SellerAccount" id="SellerAccountResult">
        <id     property="sellerAccountId" column="seller_account_id" />
        <result property="accountId"       column="seller_account_id" />
        <result property="sellerId"        column="seller_id"         />
        <result property="deptId"          column="dept_id"           />
        <result property="deptName"        column="dept_name"         />
        <result property="accountRole"     column="account_role"      />
        <result property="status"          column="status"            />
        <result property="userName"        column="user_name"         />
        <result property="nickName"        column="nick_name"         />
        <result property="password"        column="password"          />
        <result property="email"           column="email"             />
        <result property="phonenumber"     column="phonenumber"       />
        <result property="userStatus"      column="user_status"       />
        <result property="lastLoginIp"     column="last_login_ip"     />
        <result property="lastLoginTime"   column="last_login_time"   />
        <result property="pwdUpdateTime"   column="pwd_update_time"   />
        <result property="createBy"        column="create_by"         />
        <result property="createTime"      column="create_time"       />
        <result property="updateBy"        column="update_by"         />
        <result property="updateTime"      column="update_time"       />
        <result property="remark"          column="remark"            />
    </resultMap>

    <resultMap type="PortalLoginLog" id="SellerLoginLogResult">
        <id     property="infoId"        column="info_id"           />
        <result property="subjectId"     column="seller_id"         />
        <result property="accountId"     column="seller_account_id" />
        <result property="userName"      column="user_name"         />
        <result property="ipaddr"        column="ipaddr"            />
        <result property="loginLocation" column="login_location"    />
        <result property="browser"       column="browser"           />
        <result property="os"            column="os"                />
        <result property="status"        column="status"            />
        <result property="msg"           column="msg"               />
        <result property="loginTime"     column="login_time"        />
    </resultMap>

    <resultMap type="PortalOperLog" id="SellerOperLogResult">
        <id     property="operId"        column="oper_id"           />
        <result property="subjectId"     column="seller_id"         />
        <result property="accountId"     column="seller_account_id" />
        <result property="title"         column="title"             />
        <result property="businessType"  column="business_type"     />
        <result property="method"        column="method"            />
        <result property="requestMethod" column="request_method"    />
        <result property="operName"      column="oper_name"         />
        <result property="operUrl"       column="oper_url"          />
        <result property="operIp"        column="oper_ip"           />
        <result property="operLocation"  column="oper_location"     />
        <result property="operParam"     column="oper_param"        />
        <result property="jsonResult"    column="json_result"       />
        <result property="status"        column="status"            />
        <result property="errorMsg"      column="error_msg"         />
        <result property="operTime"      column="oper_time"         />
        <result property="costTime"      column="cost_time"         />
    </resultMap>

    <sql id="selectSellerColumns">
        select s.seller_id, s.seller_no, s.seller_code, s.seller_name,
               s.seller_short_name, s.seller_type, s.seller_level, s.status,
               owner_link.user_name as username,
               s.legal_id, s.business_license_no, s.country_code, s.state_province, s.city,
               s.postal_code, s.address_line1, s.address_line2, s.contact_name, s.contact_phone,
               s.contact_email, s.attachment_file_name, s.attachment_mime_type,
               s.attachment_size_bytes, s.attachment_file_url, s.create_by, s.create_time,
               s.update_by, s.update_time, s.remark,
               coalesce(account_stat.account_count, 0) as account_count,
               owner_link.last_login_time as last_login_time,
               cast(0.00 as decimal(18,2)) as account_balance,
               'USD' as balance_currency
    </sql>

    <sql id="sellerJoins">
        left join seller_account owner_link
               on owner_link.seller_id = s.seller_id
              and owner_link.account_role = 'OWNER'
              and owner_link.seller_account_id = (
                    select min(owner_pick.seller_account_id)
                    from seller_account owner_pick
                    where owner_pick.seller_id = s.seller_id
                      and owner_pick.account_role = 'OWNER'
              )
        left join (
            select seller_id, count(*) as account_count
            from seller_account
            group by seller_id
        ) account_stat on account_stat.seller_id = s.seller_id
    </sql>

    <select id="selectSellerList" parameterType="Seller" resultMap="SellerResult">
        <include refid="selectSellerColumns"/>
        from seller s
        <include refid="sellerJoins"/>
        where 1 = 1
        <if test="sellerNo != null and sellerNo != ''">
            and s.seller_no like concat('%', #{sellerNo}, '%')
        </if>
        <if test="sellerCode != null and sellerCode != ''">
            and s.seller_code like concat('%', #{sellerCode}, '%')
        </if>
        <if test="sellerName != null and sellerName != ''">
            and s.seller_name like concat('%', #{sellerName}, '%')
        </if>
        <if test="companyName != null and companyName != ''">
            and s.seller_name like concat('%', #{companyName}, '%')
        </if>
        <if test="sellerShortName != null and sellerShortName != ''">
            and s.seller_short_name like concat('%', #{sellerShortName}, '%')
        </if>
        <if test="username != null and username != ''">
            and owner_link.user_name like concat('%', #{username}, '%')
        </if>
        <if test="sellerLevel != null and sellerLevel != ''">
            and s.seller_level = #{sellerLevel}
        </if>
        <if test="status != null and status != ''">
            and s.status = #{status}
        </if>
        <if test="contactPhone != null and contactPhone != ''">
            and s.contact_phone like concat('%', #{contactPhone}, '%')
        </if>
        <if test="countryCode != null and countryCode != ''">
            and s.country_code = #{countryCode}
        </if>
        <if test="stateProvince != null and stateProvince != ''">
            and s.state_province like concat('%', #{stateProvince}, '%')
        </if>
        <if test="city != null and city != ''">
            and s.city like concat('%', #{city}, '%')
        </if>
        <if test="params.createBeginTime != null and params.createBeginTime != ''">
            and date_format(s.create_time,'%Y%m%d') &gt;= date_format(#{params.createBeginTime},'%Y%m%d')
        </if>
        <if test="params.createEndTime != null and params.createEndTime != ''">
            and date_format(s.create_time,'%Y%m%d') &lt;= date_format(#{params.createEndTime},'%Y%m%d')
        </if>
        <if test="params.lastLoginBeginTime != null and params.lastLoginBeginTime != ''">
            and date_format(owner_link.last_login_time,'%Y%m%d') &gt;= date_format(#{params.lastLoginBeginTime},'%Y%m%d')
        </if>
        <if test="params.lastLoginEndTime != null and params.lastLoginEndTime != ''">
            and date_format(owner_link.last_login_time,'%Y%m%d') &lt;= date_format(#{params.lastLoginEndTime},'%Y%m%d')
        </if>
        <if test="params.balanceMin != null and params.balanceMin != ''">
            and cast(0.00 as decimal(18,2)) &gt;= cast(#{params.balanceMin} as decimal(18,2))
        </if>
        <if test="params.balanceMax != null and params.balanceMax != ''">
            and cast(0.00 as decimal(18,2)) &lt;= cast(#{params.balanceMax} as decimal(18,2))
        </if>
        order by s.create_time desc, s.seller_id desc
    </select>

    <select id="selectSellerById" parameterType="Long" resultMap="SellerResult">
        <include refid="selectSellerColumns"/>
        from seller s
        <include refid="sellerJoins"/>
        where s.seller_id = #{sellerId}
    </select>

    <select id="selectMaxSellerNoByPrefix" parameterType="String" resultType="String">
        select max(seller_no)
        from seller
        where seller_no like concat(#{sellerNoPrefix}, '%')
          and length(seller_no) = 9
    </select>

    <select id="selectSellerByCode" parameterType="String" resultMap="SellerResult">
        <include refid="selectSellerColumns"/>
        from seller s
        <include refid="sellerJoins"/>
        where s.seller_code = #{sellerCode}
        limit 1
    </select>

    <insert id="insertSeller" parameterType="Seller" useGeneratedKeys="true" keyProperty="sellerId">
        insert into seller(
            seller_no, seller_code, seller_name, seller_short_name,
            seller_type, seller_level, status, legal_id, business_license_no, country_code,
            state_province, city, postal_code, address_line1, address_line2, contact_name,
            contact_phone, contact_email, attachment_file_name, attachment_mime_type,
            attachment_size_bytes, attachment_file_url, create_by, create_time, remark
        ) values (
            #{sellerNo}, #{sellerCode}, #{sellerName}, #{sellerShortName},
            #{sellerType}, #{sellerLevel}, #{status}, #{legalId}, #{businessLicenseNo}, #{countryCode},
            #{stateProvince}, #{city}, #{postalCode}, #{addressLine1}, #{addressLine2}, #{contactName},
            #{contactPhone}, #{contactEmail}, #{attachmentFileName}, #{attachmentMimeType},
            #{attachmentSizeBytes}, #{attachmentFileUrl}, #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateSeller" parameterType="Seller">
        update seller
        set seller_code = #{sellerCode},
            seller_name = #{sellerName},
            seller_short_name = #{sellerShortName},
            seller_type = #{sellerType},
            seller_level = #{sellerLevel},
            status = #{status},
            legal_id = #{legalId},
            business_license_no = #{businessLicenseNo},
            country_code = #{countryCode},
            state_province = #{stateProvince},
            city = #{city},
            postal_code = #{postalCode},
            address_line1 = #{addressLine1},
            address_line2 = #{addressLine2},
            contact_name = #{contactName},
            contact_phone = #{contactPhone},
            contact_email = #{contactEmail},
            attachment_file_name = #{attachmentFileName},
            attachment_mime_type = #{attachmentMimeType},
            attachment_size_bytes = #{attachmentSizeBytes},
            attachment_file_url = #{attachmentFileUrl},
            update_by = #{updateBy},
            update_time = sysdate(),
            remark = #{remark}
        where seller_id = #{sellerId}
    </update>

    <update id="updateSellerStatus">
        update seller
        set status = #{status},
            update_by = #{updateBy},
            update_time = sysdate()
        where seller_id = #{sellerId}
    </update>

    <select id="selectSellerAccountList" resultMap="SellerAccountResult">
        select a.seller_account_id, a.seller_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from seller_account a
        left join seller_dept d on d.seller_dept_id = a.dept_id and d.seller_id = a.seller_id and d.del_flag = '0'
        where a.seller_id = #{sellerId}
        order by a.create_time desc, a.seller_account_id desc
    </select>

    <select id="selectSellerAccountById" parameterType="Long" resultMap="SellerAccountResult">
        select a.seller_account_id, a.seller_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.password, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from seller_account a
        left join seller_dept d on d.seller_dept_id = a.dept_id and d.seller_id = a.seller_id and d.del_flag = '0'
        where a.seller_account_id = #{sellerAccountId}
        limit 1
    </select>

    <select id="selectSellerAccountByUserName" parameterType="String" resultMap="SellerAccountResult">
        select a.seller_account_id, a.seller_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.password, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from seller_account a
        left join seller_dept d on d.seller_dept_id = a.dept_id and d.seller_id = a.seller_id and d.del_flag = '0'
        where a.user_name = #{userName}
        limit 1
    </select>

    <select id="selectOwnerSellerAccountBySellerId" parameterType="Long" resultMap="SellerAccountResult">
        select a.seller_account_id, a.seller_id, a.dept_id, d.dept_name, a.account_role, a.status, a.status as user_status,
               a.user_name, a.nick_name, a.email, a.phonenumber, a.last_login_ip, a.last_login_time, a.pwd_update_time,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from seller_account a
        left join seller_dept d on d.seller_dept_id = a.dept_id and d.seller_id = a.seller_id and d.del_flag = '0'
        where a.seller_id = #{sellerId}
          and a.account_role = 'OWNER'
        order by a.seller_account_id asc
        limit 1
    </select>

    <insert id="insertSellerAccount" parameterType="SellerAccount" useGeneratedKeys="true" keyProperty="sellerAccountId">
        insert into seller_account(
            seller_id, dept_id, user_name, nick_name, password, email, phonenumber,
            account_role, status, pwd_update_time, create_by, create_time, remark
        ) values (
            #{sellerId}, #{deptId}, #{userName}, #{nickName}, #{password}, #{email}, #{phonenumber},
            #{accountRole}, #{status}, sysdate(), #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateSellerAccount" parameterType="SellerAccount">
        update seller_account
        set nick_name = #{nickName},
            dept_id = #{deptId},
            email = #{email},
            phonenumber = #{phonenumber},
            status = #{status},
            update_by = #{updateBy},
            update_time = sysdate(),
            remark = #{remark}
        where seller_account_id = #{sellerAccountId}
    </update>

    <update id="resetSellerAccountPassword">
        update seller_account
        set password = #{password},
            pwd_update_time = sysdate(),
            update_by = #{updateBy},
            update_time = sysdate()
        where seller_account_id = #{sellerAccountId}
    </update>

    <update id="updateSellerAccountLoginInfo">
        update seller_account
        set last_login_ip = #{lastLoginIp},
            last_login_time = #{lastLoginTime},
            update_time = sysdate()
        where seller_account_id = #{sellerAccountId}
    </update>

    <insert id="insertSellerLoginLog" parameterType="PortalLoginLog">
        insert into seller_login_log(
            seller_id, seller_account_id, user_name, ipaddr, login_location,
            browser, os, status, msg, login_time
        ) values (
            #{subjectId}, #{accountId}, #{userName}, #{ipaddr}, #{loginLocation},
            #{browser}, #{os}, #{status}, #{msg}, #{loginTime}
        )
    </insert>

    <select id="selectSellerLoginLogList" parameterType="PortalLoginLog" resultMap="SellerLoginLogResult">
        select l.info_id, l.seller_id, l.seller_account_id, l.user_name, l.ipaddr,
               l.login_location, l.browser, l.os, l.status, l.msg, l.login_time
        from seller_login_log l
        where 1 = 1
        <if test="subjectId != null">
            and l.seller_id = #{subjectId}
        </if>
        <if test="accountId != null">
            and l.seller_account_id = #{accountId}
        </if>
        <if test="userName != null and userName != ''">
            and l.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="ipaddr != null and ipaddr != ''">
            and l.ipaddr like concat('%', #{ipaddr}, '%')
        </if>
        <if test="status != null and status != ''">
            and l.status = #{status}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and date_format(l.login_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''">
            and date_format(l.login_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
        </if>
        order by l.login_time desc, l.info_id desc
    </select>

    <select id="selectSellerOperLogList" parameterType="PortalOperLog" resultMap="SellerOperLogResult">
        select l.oper_id, l.seller_id, l.seller_account_id, l.title, l.business_type,
               l.method, l.request_method, l.oper_name, l.oper_url, l.oper_ip,
               l.oper_location, l.oper_param, l.json_result, l.status, l.error_msg,
               l.oper_time, l.cost_time
        from seller_oper_log l
        where 1 = 1
        <if test="subjectId != null">
            and l.seller_id = #{subjectId}
        </if>
        <if test="accountId != null">
            and l.seller_account_id = #{accountId}
        </if>
        <if test="title != null and title != ''">
            and l.title like concat('%', #{title}, '%')
        </if>
        <if test="operName != null and operName != ''">
            and l.oper_name like concat('%', #{operName}, '%')
        </if>
        <if test="status != null">
            and l.status = #{status}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            and date_format(l.oper_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''">
            and date_format(l.oper_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
        </if>
        order by l.oper_time desc, l.oper_id desc
    </select>

    <insert id="insertSellerSession" parameterType="PortalLoginSession">
        insert into seller_session(
            token_id, seller_id, seller_account_id, user_name,
            login_ip, login_time, expire_time, status
        ) values (
            #{tokenId}, #{subjectId}, #{accountId}, #{userName},
            #{loginIp}, #{loginTime}, #{expireTime}, #{status}
        )
    </insert>

    <select id="selectSellerSessionProfileList" resultType="PortalSessionProfile">
        select token_id as tokenId,
               'seller' as terminal,
               seller_id as subjectId,
               seller_account_id as accountId,
               user_name as userName,
               login_ip as loginIp,
               login_time as loginTime,
               expire_time as expireTime,
               logout_time as logoutTime,
               status
        from seller_session
        where seller_id = #{sellerId}
        <if test="sellerAccountId != null">
          and seller_account_id = #{sellerAccountId}
        </if>
        order by login_time desc, token_id desc
    </select>

    <select id="selectOnlineSellerSessionTokenIds" resultType="String">
        select token_id
        from seller_session
        where seller_id = #{sellerId}
          and status = '0'
          and logout_time is null
          and expire_time >= sysdate()
        <if test="sellerAccountId != null">
          and seller_account_id = #{sellerAccountId}
        </if>
    </select>

    <select id="countOnlineSellerSession" resultType="int">
        select count(1)
        from seller_session
        where seller_id = #{sellerId}
          and seller_account_id = #{sellerAccountId}
          and token_id = #{tokenId}
          and status = '0'
          and logout_time is null
          and expire_time >= sysdate()
    </select>

    <update id="forceLogoutSellerSessions">
        update seller_session
        set status = '1',
            logout_time = sysdate()
        where seller_id = #{sellerId}
          and status = '0'
          and logout_time is null
          and expire_time >= sysdate()
        <if test="sellerAccountId != null">
          and seller_account_id = #{sellerAccountId}
        </if>
    </update>

    <update id="logoutSellerSession">
        update seller_session
        set status = '1',
            logout_time = sysdate()
        where seller_id = #{sellerId}
          and seller_account_id = #{sellerAccountId}
          and token_id = #{tokenId}
          and status = '0'
          and logout_time is null
    </update>
</mapper>
